<hr>
<footer>
  <nav>
    <ul class="nav nav-pills pull-left">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About",   '/about' %></li>
    </ul>
    <ul class="nav nav-pills pull-right">
      <li>&copy;NotungDev 2015</li>
    </ul>
  </nav>
</footer>
