<div class="jumbotron">
  <h1>Twitter Notung</h1>
  <p>Load geolocated tweets longitude and latitude. View tweets information by user, by city, by country and by date.</p>
  <%= link_to "Load Data", {controller: 'load', action: 'new'}, class: "btn btn-lg btn-primary" %>
  <%= link_to "View Data", {controller: 'report', action: 'index'}, class: "btn btn-lg btn-primary" %>
</div>
